{% extends 'base.html' %}

{% block content %}

{% include 'birds_menu.html' %}

<section id="birds" class="birds">
    
    <div class="row" data-aos="fade-up" data-aos-delay="200">

        <!-- Sparrows images-->
        <div class="col-6">
            <br>
            <div class="row ">
                <div class="col-6 text-center">
                    <h4 class="card-text text-black fw-bold text-center" > Sparrows </h4>
                </div>
                <div class="col-2">
                    <a href="{{ url_for('image.upload', kind='sparrow') }}">
                        <h2><i class="bi bi-plus-circle"></i></h2>
                    </a>
                </div>
            </div>

            <section id="portfolio" class="portfolio" style="padding: 20px">
                <div class="container" data-aos="fade-up"> 
                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                        
                        {% for sparrow in sparrows %}
                        <div class="col-lg-4 col-md-6 portfolio-item filter-sparrow">
                          <div class="portfolio-wrap">
                            <img src="{{ url_for('image.send',  filename='input-images/'+ sparrow.name) }}" class="img-fluid" alt="">
                            {% if sparrow.was_fitted == 1 %}
                                <img src="{{ url_for('image.send',  filename='output-images/'+ sparrow.name) }}" class="img-fluid" alt="">
                            {% else %}
                                <img src="/static/assets/img/gif_waiting.gif" class="img-fluid" alt="">
                            {% endif %}
                            <div class="portfolio-info">
                              <div class="portfolio-links">
                                <a href="{{ url_for('bird.download', bird_id=sparrow.uid) }}"><i class="bx bx-download"></i></a>
                                <a href="{{ url_for('bird.delete', bird_id=sparrow.uid) }}"><i class="bx bx-trash"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}           
  
                    </div>
                </div>
            </section>

        </div>
        <!-- end Sparrows images-->

         <!-- Tits images-->
         <div class="col-6">
            <br>
            <div class="row ">
                <div class="col-6 text-center">
                    <h4 class="card-text text-black fw-bold text-center" > Parus Majors </h4>
                </div>
                <div class="col-2">
                    <a href="{{ url_for('image.upload', kind='tit') }}">
                        <h2><i class="bi bi-plus-circle"></i></h2>
                    </a>
                </div>
            </div>

            <section id="portfolio" class="portfolio" style="padding: 20px">
                <div class="container" data-aos="fade-up"> 
                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                        
                        {% for tit in tits %}
                        <div class="col-lg-4 col-md-6 portfolio-item filter-tit">
                          <div class="portfolio-wrap">
                            <img src="{{ url_for('image.send',  filename='input-images/'+ tit.name) }}" class="img-fluid" alt="">
                            {% if tit.was_fitted == 1 %}
                                <img src="{{ url_for('image.send',  filename='output-images/'+ tit.name) }}" class="img-fluid" alt="">
                            {% else %}
                                <img src="../static/assets/img/gif_waiting.gif" class="img-fluid" alt="">
                            {% endif %}
                            <div class="portfolio-info">
                              <div class="portfolio-links">
                                <a href="{{ url_for('bird.download', bird_id=tit.uid) }}"><i class="bx bx-download"></i></a>
                                <a href="{{ url_for('bird.delete', bird_id=tit.uid) }}"><i class="bx bx-trash"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}           
  
                    </div>
                </div>
            </section>

        </div>
        <!-- end Tits images-->
            
    </div>

    {% if not (sparrows or tits) %} 
    <div class="container-fluid" style="padding-bottom:41vh;"></div>
    {% endif %}

{% endblock %}
