{% extends 'base.html' %}

{% block content %}

{% include 'upload_menu.html' %}

<section id="examples" class="portfolio">

    <p>&nbsp;</p>
    <div class="container " data-aos="fade-up">
        {% if kind == 'sparrow' %}
            <div class="section-title">
                <h2>Add Sparrow's photo</h2>
            </div>
        {% elif kind == 'tit' %}
            <div class="section-title">
                <h2>Add  Parus Major's photo</h2>
            </div>
        {% endif %}
        
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="box">

                    {{ form.hidden_tag() }}

                    <p></p>
                    <div class="row justify-content-center text-center">
                        
                        <form action="{{ url_for('upload.upload', kind=kind ) }}" enctype="multipart/form-data" method="post">
                        <div class="form-group" style="border: 0px; margin-left: 45px;">                            
                            {{ form.file }}                           
                        </div>
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Supported extensions jpg/jpeg/png.
                        </small>
                        <p></p>
                        <button type="submit" class="get-started-btn" style="border: 0px; margin-left: 0px;">Send File</button>
                        <a href="{{ url_for('bird.birds') }}" class="btn btn-outline-danger" >Close</a> 
                    </form>
                        <br>
                    </div>

                    
                </div>
            </div>
        </div>

    </div>
</section>

<div class="container-fluid" style="padding-bottom:15vh;"></div>

{% endblock %}
